<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>EduWell - Education HTML5 Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-eduwell-style.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/lightbox.css">
<!--

TemplateMo 573 EduWell

https://templatemo.com/tm-573-eduwell

-->
  </head>

<body>


  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                <nav class="main-nav">
                  <!-- ***** Logo Start ***** -->
                  <a href="index.php" class="logo">
                    <img src="assets/images/logo.png" alt="EduWell Logo" style="width: 70px; height: auto;">
                  </a>
                  <!-- ***** Logo End ***** -->
                  <!-- ***** Menu Start ***** -->
                  <ul class="nav">
                    <li><a href="index.php" class="active">Home</a></li>
                    <li><a href="index.html">Services</a></li>
                    <li><a href="index.html">Courses</a></li>
                    <li class="has-sub">
                        <a href="javascript:void(0)">Pages</a>
                        <ul class="sub-menu">
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="our-services.html">Our Services</a></li>
                            <li><a href="forum.html">forum</a></li>
                        </ul>
                    </li>
                    <li><a href="index.html">Testimonials</a></li> 
                    <li><a href="index.html">forum</a></li> 
                  </ul>      
                  <a class='menu-trigger'>
                      <span>Menu</span>
                  </a>
                  <!-- ***** Menu End ***** -->
                </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <section class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="header-text">
            <h4>Say Hello EduWell</h4>
            <h1>forum</h1>
            
          </div>
        </div>
      </div>
    </div>
  </section>

  
  <section class="forum">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
         
          
        </div>
        <div class="col-lg-4">

  
  <form id="contact" action="" method="post">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h6>forum</h6>
          <h4>Say <em>Hello</em></h4> mettre ce form en centrale du page 
          
        </div>
        <div class="col-lg-12">
          <h6>Have any questions? We're here to help – just ask!</h6>

          <label for="questions">Choose a question type:</label>
<select id="questions" name="questions">
<option value="general">General Question</option>
<option value="homework">Homework Help</option>
<option value="Scientifc">Scientifc question</option>
<option value="Computer">Computer_science</option>
<option value="History/geography">History/geography</option>
<option value="Other">Other</option>
</select>




<form id="contact" action="" method="post">
  <div class="row">
    <div class="col-lg-12">
      <div class="section-heading">
        <h6>forum</h6>
        <h4>Say <em>Hello</em></h4> mettre ce form en centrale du page 
        
      </div>
      <div class="col-lg-12">
        <h6>Have any questions? We're here to help – just ask!</h6>

        <label for="questions"><h5>Choose a question type:</h5></label>
<select id="questions" name="questions">
<option value="general">General Question</option>
<option value="homework">Homework Help</option>
<option value="Scientifc">Scientifc question</option>
<option value="Computer">Computer_science</option>
<option value="History/geography">History/geography</option>
<option value="Other">Other</option>
</select>




      </div>
    </div>
    <div class="col-lg-12">
     

    <div class="col-lg-12">
     
      <h2>Question</h2>
      <fieldset>
        <input type="name" name="Question" id="Question" placeholder="Your question" autocomplete="on" required>
      </fieldset>
    </div>
    <div class="col-lg-12">
      <fieldset>
        <button type="submit" id="form-submit" class="main-gradient-button">Send question</button>
      </fieldset>
    </div>
    
    <div class="col-lg-12">
      <fieldset>
        <h2>Reponse</h2>
        <textarea name="reponse" id="reponse" placeholder="Your reponse"></textarea>
      </fieldset>
    </div>
    <div class="col-lg-12">
      <fieldset>
        <button type="submit" id="form-submit" class="main-gradient-button">Send reponse</button>
      </fieldset>
    </div>
  </div>
</form>






        </div>
        
      </div>
    </div>
  </section>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="assets/js/isotope.min.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/lightbox.js"></script>
    <script src="assets/js/tabs.js"></script>
    <script src="assets/js/video.js"></script>
    <script src="assets/js/slick-slider.js"></script>
    <script src="assets/js/custom.js"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>

</body>
</html>